<!DOCTYPE html>
<html lang="en">
<head>
	<title>Forgot Password</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="/static/css/util.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
	<style>
		.alert {
          padding: 20px;
          background-color: #f44336;
          color: white;
        }
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }

        .closebtn:hover {
          color: black;
        }
	</style>
</head>
<body>

	<div class="limiter">
		<div class="co" style="background-image: url('/static/images/login.jpg'); background-size:cover;">
			<div class="wrap">
				{% if error %}
				<div class=alert><span class=closebtn onclick="this.parentElement.style.display='none'">&times;</span>
                                   <strong>{{ error }} </strong></div>'
				{% endif %}
				<form class="login-form validate-form" action="/login/addnewpassword/" method="POST">
					{% csrf_token%}
					<span class="login-form-logo">
						<i class="zmdi zmdi-landscape"></i>
					</span>

					<span class="login-form-title p-b-40 p-t-40">
						{% if request.session.otp %}
						Enter OTP
						{% else %}
						Enter new Password
						{% endif %}
					</span>
					{% if request.session.otp %}
					<div class="wrap-input validate-input">
						<input class="input" type="text" name="otp" placeholder="Enter OTP" required>
						<span class="focus-input" data-placeholder="&#xf191;"></span>
					</div>
					{% else %}
					<div class="wrap-input validate-input">
						<input class="input" type="password" name="password" placeholder="New Password" required>
						<span class="focus-input" data-placeholder="&#xf191;"></span>
					</div>

					<div class="wrap-input validate-input">
						<input class="input" type="password" name="confirmpassword" placeholder="Confirm Password" required>
						<span class="focus-input" data-placeholder="&#xf191;"></span>
					</div>
					{% endif %}
					<br>
					<br><br>
					<div class="container-login-form-btn">
						<button class="login-form-btn ">
							Reset New Password
						</button>
					</div>
					<br>

				</form>
			</div>
		</div>
	</div>
	<div id="dropDownSelect1"></div>
	<footer class="footer" class="container">
		<center>
			<a href="https://www.facebook.com/" class="fa fa-facebook"></a>
			<a href="https://twitter.com/login" class="fa fa-twitter"></a>
			<a href="https://www.google.com/" class="fa fa-google"></a>
			<a href="https://www.linkedin.com/uas/login" class="fa fa-linkedin"></a>
		</center>
		<hr>
		<div class="text-center p-t-40">
			<a href="/base/aboutus/">ABOUT US</a><br>
			<a href="/base/contactus/">&#x260F; CONTACT US</a><br>
			<br>
		</div>
		&#169;  Copyright 2020 .
	</footer>
</body>

</html>