{% extends 'header.html' %}
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Not Available</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css" >
	<link rel="stylesheet" type="text/css" href="/static/css/home.css" >
</head>
<body>
    <h1><p style="color:red">Sorry Selected Train with this class has no specified tickets left</p></h1>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
</body>
</html>
{% endblock %}