{% extends 'header.html' %}
{% block content %}
<html>
	<head>
		<title>CONTACT US</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/util.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/header.css">
	</head>
	<body>
	<div class="container">
		<div class="co" style="background-image: url('/static/images/login.jpg'); background-size:cover;">
				<strong>
					<h3>CONTACT WITH OUR TEAM</h3>
					<br>
					<pre>harsttarsaria@gmail.com</pre>
					<pre>maunilahr@gmail.com</pre>
					<pre>vishvahni@gmail.com</pre>
					Registered Office:
					Indian Railway Catering and Tourism Corporation Ltd.,
					C/420, Ahmedpark, Adajan ,Surat.
				</strong>
			</div>
		</div>
	</body>
</html>
{% endblock %}