<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="icon" type="image/png" href="/static/images/icons/favicon.ico"/>
		<link rel="stylesheet" type="text/css" href="/static/vendor/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="/static/fonts/iconic/css/material-design-iconic-font.min.css">
		<link rel="stylesheet" type="text/css" href="/static/css/util.css">
		<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
<header>
		<div class="header">
			<i class="fas fa-subway fa-5x" ></i>
			<strong><font class="header-font">Train Reservation</font></strong>
			<div class="header-right">
				{% if request.session.username %}
					<strong>Welcome, {{ request.session.username }}</strong>
					<strong><a href="/home/" >Home</a></strong>
					<strong><a href="/login/editprofile/">Edit Profile</a></strong>
					<strong><a href="/login/logout/">Logout</a></strong>
				{% else %}
					<a href="/home/" >Home</a>
					<a href="/login/">Login</a>
					<a href="/login/registration/">Register</a>
				{% endif %}
			</div>
		</div>
	</header>

{% block content %}
{% endblock %}


<br><br>
	<div id="dropDownSelect1"></div>
		<footer class="footer" class="container" >
			<center>
				<a href="https://www.facebook.com/" class="fa fa-facebook"></a>
				<a href="https://twitter.com/login" class="fa fa-twitter"></a>
				<a href="https://www.google.com/" class="fa fa-google"></a>
				<a href="https://www.linkedin.com/uas/login" class="fa fa-linkedin"></a>
			</center>
			<hr>
			<div class="text-center p-t-40">
				<strong><a href="/base/aboutus/">ABOUT US</a><br></strong>
				<strong><a href="/base/contactus/">&#x260F; CONTACT US</a></strong><br>
			</div>
			<strong>&#169;  Copyright 2020.</strong>
		</footer>
</body>
</html>
